body {
	background-color: black;
	
}

#margin {
	background-color: white;
	margin: 0 auto;
	width:55%;
	border: 1px solid red;
	padding:20px;

}

a:visited, a {
	color:black;
}

a:hover {
	color:red;
}

tr td {
	text-align: center;
	
}