<h1 class="display-4">Settings</h1>
<div class="container">
        For this week's assignment, you will be working on your individual project. Your task is to finish the core functionality of your site. You will have one more week to add any final polish or fix any last bugs, but at this point, you should have all the functionality in place.
</div>