body {
    background-color: black;
}

.center_form {
    /*margin: 0 auto;
    width: 80%;*/
}

button{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#0000EE;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}