<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/bootstrap/bootstrap.ejs') %>
    <%- include('partials/jquery.ejs') %>
    <title>Login</title>
</head>
<body>
    <div class="container">
    <div class="jumbotron">
            <h1 class="display-2">Home</h1>

    </div>
</div>

<%- include('partials/bootstrap/bootstrap_scripts.ejs') %>
</body>
</html>