<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/bootstrap/bootstrap.ejs') %>
    <title>Register</title>
</head>
<body>
    <div class="container">
    <div class="jumbotron">
            <h1 class="display-2">Register</h1>

            <!-- Form -->
            <form action="/register" method="POST">

                <!-- First and last name -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" id="first_name" name="user[fn]" placeholder="Enter first name">
                    </div>

                    <div class="form-group col-md-6">
                            <label for="last_name">Last name</label>
                            <input type="text" class="form-control" id="last_name" name="user[ln]" placeholder="Enter last name">
                    </div>
                </div>

                <!-- Email and password -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" name="user[email]" placeholder="Enter email">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="user[password]" placeholder="Enter password">
                    </div>
                    <div class="form-group col-md-6">
                            <input type="hidden">
                    </div>
                    <div class="form-group col-md-6">
                            <input type="password" id="confirm_password" class="form-control" name="user[cp]" placeholder="Enter password again">
                    </div>
                </div>

                <!-- Checkbox button -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="is_spanish" name="user[english]">
                        <label class="form-check-label" for="is_spanish">Hablo Español</label>
                    </div>
                </div>

                <!-- Register button -->
                <button type="submit" name="register_submit" class="btn btn-primary">Register</button>
            </form>


    </div>
</div>

<%- include('partials/bootstrap/bootstrap_scripts.ejs') %>
</body>
</html>