<!DOCTYPE html>
<html>
<head>
    <title>Rates Results </title>
</head>
<body>
    <h1>Your Rate for <%= mailType %></h1>
    <p>Weight: <%= weight %>oz</p>
    <p>Rate: $<%= total %></p>
</body>
</html>