body {
    
  }
.starter-template {
  text-align: center;
  float: none;
  margin: 0 auto;
}

@media(min-width: 1200px) {
  #chart {
    max-width: 868px;
  }
}

@media(min-width: 768px) {
  .form-width {
    max-width: 768px;
  }
}

.form-width {
  float:none;
  margin: 0 auto;
  
}

.button-center {
  text-align: center;
  margin: 0 auto;
}

.jumbotron {
  margin-top: 50px;
}